.postDescription{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 24px;
    margin-top: 5px;
    
    
    
}