.navbar{
    flex: 3;
}

.navbar .about{
   
    margin-bottom: 10px;
}
.navbar .cat li{
    cursor: pointer;
}
.navbar .followicon i:hover{
    color: black;
    cursor: pointer;
}
.navbar ul{
    width: 100%;
}
.navbar ul li{
    width: 50%;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
}
